<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MVC With Burgers!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt" rel="stylesheet">
</head>

<body>
	<div id="burger" class="container text-light py-3">
		{{{ body }}}
	</div>
</body>

</html>